body {
  background-color: darkgrey;
}
li {
  color: white;
}
h1 {
  background-color: lightgrey;
  color: blue;
}

.newProd {
  background-color: yellow;
  color: green;
}
#hello {
  color: ;
}

h1:first-letter {
  color:green;
  font-size: 50px;
}

#btnSubmit:hover {
  background-image: URL("../images/color-wheel.png");
  height:100px;
  width:100px;
}
